body {
    font-family: 'Kalam', cursive;
    background:url("../media/bg1.jpg");
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    padding-left: 10px;
    padding-top: 7px;
    color: blueviolet;
    font-family: 'Special Elite', cursive;
}
.navr{
    float: right; 
    margin-right: 25px; 
    font-size: 25px; 
    text-decoration: none;
}
.hact {
    color: green;
    font-weight: bolder;
}
.footer {
    position: fixed;
    background: rgb(22, 22, 22);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

a:hover {
    color: red;
    text-decoration: none;
}
.hed {
    font-size: 52px;
    color: whitesmoke;
    text-align: center;
    padding-top: 25px;
}
.column {
    position: relative;
    background: rgb(22, 22, 22);
    border-radius: 16px;
    height: 600px;
    width: 60%;
    margin: auto;
    margin-top: 25px;
    color: gold;
}
.column::after {
    content: "";
    display: block;
    clear: both;
}
ul {
    list-style-type: none;
}
li {
    font-size: 20px;
}
.f2 {
    margin-left: 20px;
}
a,p {
    text-decoration: none;
    color: orange;
    font-size: 20px;
    vertical-align: middle;
}
img {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 7px;
}
u {
    font-size: 25px;
    text-decoration-style: dashed;
}