*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    color:white;
}
body {
    font-family: 'Kalam', cursive;
    padding-top: 10px;
    font-display: swap;
}
.hact {
    color: green;
    font-weight: bolder;
}
.main {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
.navr{
    float: right; 
    margin-right: 25px; 
    font-size: 25px; 
    text-decoration: none;
}
#more {
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    color: cadetblue;
    border: none;
}

.card {
    position: relative;
    border-radius: 7px;
    padding: 3px;
    background: rgba(0, 0, 0, 0.5);
}
.card::after {
    content: "";
    display: block;
    clear: both;
    max-height: 450px;
}
.card:hover {
    background-color: rgb(16, 16, 16);
    box-shadow: 3px dimgray;
}

.imag {
    width: 34px; 
    height: 34px;
    border: 3px solid darkslategray;
    border-radius: 50%;
    padding: 5px;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
    padding: 10px;
    color: blueviolet;
    font-family: 'Special Elite', cursive;
}
.footer {
    position: fixed;
    background-color: rgb(22, 22, 22);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
a,p {
    text-decoration: none;
    color: orange;
    font-size: 20px;
}
a:hover {
    color: red;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    font-size: 20px;
}

.clearfix {
    overflow: auto;
}
.tqhead {
    border: 1px solid darkgray;
    border-radius: 25px;
    color: gray;
    font-size: 25px;
}
.chead {
    border-bottom: 2px solid lightgray;
    border-radius: 25px;
    padding-left: 40%;
}
.tqhead a {
    color: tomato;
}
#f1 {
    float: right; 
    margin-left: 150px;
}
.f2 {
    margin-left: 20px;
}
.pagination {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 45%;
    margin-bottom: 25px;
}
.pagination a {
    color: black;
    background-color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 7px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: black;
}
.pagination a:hover:not(.active) {
    background-color: darkgray;
    color: black;
}
@media screen and (max-width: 800px) {
    .card, iframe, .card::after, .header, body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .footer {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
    .f2 {
        margin-left: 7px;
    }
}

