* {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    color:white;
}
body {
    font-family: 'Kalam', cursive;
    background: rgb(22, 22, 22);
}
.main {
    padding: 10px;
    font-size: 25px;
    text-align: center;
}
.card {
    position: relative;
    background: rgb(22, 22, 22);
    border-radius: 7px;
    padding: 3px;
}
.card::after {
    content: "";
    display: block;
    clear: both;
}

img {
    border-radius: 3px; 
    height: 200px; 
    width: 100%;  
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 250px;
    padding-left: 10px;
    color: blueviolet;
    font-family: 'Special Elite', cursive;
}
.footer {
    position: fixed;
    background: rgb(22, 22, 22);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
a,p {
    text-decoration: none;
    color: orange;
    font-size: 20px;
}
a:hover {
    color: red;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
li {
    font-size: 20px;
}
#imag {
    border: 3px solid wheat;
    border-radius: 50%;
}
.clearfix {
    overflow: auto;
}
.tqhead {
    border: 1px solid darkgray;
    border-radius: 25px;
    color: gray;
    font-size: 25px;
}
.chead {
    border-bottom: 2px solid lightgray;
    border-radius: 25px;
}
.tqhead a {
    color: lightcoral;
}
#f1 {
    float: right; 
    margin-left: 150px;
}
#f2 {
    margin-left: 20px;
}
.pagination {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 610px;
    margin-bottom: 25px;
}
.pagination a {
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}
.pagination a.active {
    background-color: #4CAF50;
    color: black;
}
.pagination a:hover:not(.active) {
    background-color: lightgray;
}
@media screen and (max-width: 800px) {
    .card, iframe, .card::after, .header, body {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .footer {
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
    }
    #f2 {
        margin-left: 7px;
    }
}
