li{
  float:left;
}
li a {
  display: inline-block;
  #color: white;
  text-align: center;
  padding: 16px 14px;
  text-decoration: none;
}
li a:hover {
  background-image: url(linear-gradient(to right, rgb(238, 226, 250) 0%, rgba(169, 231, 249, 0.53) 50%, rgb(251, 225, 245) 100%));
  background-color: #115;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  #background-image: linear-gradient(to right, rgb(238, 226, 250) 0%, rgba(169, 231, 249, 0.53) 50%, rgb(251, 225, 245) 100%);
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   #background-color:white;
   background-image:linear-gradient(to right, rgb(238, 226, 250) 0%, rgba(169, 231, 249, 0.53) 50%, rgb(251, 225, 245) 100%);
   color: white;
   #text-align: right;
   #padding-right:50px;
}
.intro{
  font-family:sans-serif;
  font-size:25px;
  #color:white;
  padding:25px;
}
p{
  font-family:serif;
  color:black;
}
body{
  background-image: linear-gradient(to right, rgb(238, 226, 250) 0%, rgba(169, 231, 249, 0.53) 50%, rgb(251, 225, 245) 100%);
}