body{
    background: darkslategray;
    padding: 10px;
}
table, th, td {
    border: 1px solid;
    padding: 5px;
    font: Roboto;
}
table{
    background: cornflowerblue;
}
th,td{
    background: gainsboro;
}
table#win2unix
{
    border-collapse:collapse;
}
th#windows {
    width:12em;
}
th#unix {
    width:9em;
}
a {
    text-decoration:none;
    color: blue;
}
a:hover{
    color: red;
}
h1,h5,p{
    color: lightgoldenrodyellow;
}
.header{
    font-style: italic;
    text-align: center;
    color: ghostwhite;
    padding:10px;
    width: 100%;
}
.footer{
    bottom:0;
    left:0;
    right: 0;
    position: relative;
}